{% extends "base.html" %}
{% block title %} {{title}} {% endblock title %}
{% block head %}
<link href="/static/bootstrap.min.css" rel="stylesheet">
<link href="/static/custom.css" rel="stylesheet">
{% endblock head %}

{% block content %}
<article class="pt-5">
  <content>
    <div class="mt-5">
      <h1 class="text-light">{{title}}</h1>
      <div class="text-end">
        <a href="/" class="text-success" style="text-decoration: none;"><i class="fa-solid fa-house"></i> Go back to main page</a>
      </div>
      <hr>
      <div class="text-light fs-6">    
        {{content}}
      </div>
    </div>
  </content>
</article>
{% endblock content %}


