{% extends "base.html" %}
{% block title %} main page {% endblock title %}
{% block head %}
<link href="bootstrap.min.css" rel="stylesheet">
<link href="custom.css" rel="stylesheet">
{% endblock head %}


{% block content %}
    <div class="mt-5 text-center">
        <p>TODO: Better CSS</p>
    </div>
      <div class="mt-5">
        <hr>
        {% for post in posts %}
        <div class="row">
            <div class="col-md-6 offset-md-3 mb-5">
                <div>
                  <h4>
                    <a href="./posts/{{post.title_slug}}/{{post.title_slug}}.html">{{post.title}}</a>
                  </h4>
                  <span style="color:#92AECF;">{{post.date}}</span>
                  <br>
                  <p style="display:inline;">
                    {{post.summary}}
                  </p>
                  <div class="text-end">
                    {% for tag in post.tags %}
                    <span class="badge rounded-pill text-bg-primary">{{tag}}</span>
                    {% endfor %}
                    <a href="./posts/{{post.title_slug}}/{{post.title_slug}}.html">read more <i class="fa-solid fa-circle-chevron-right"></i></a>
                  </div>

                </div>
            </div>
        </div>
        {% endfor %}
      </div>
{% endblock content %}
