{% extends "base.html" %}
{% block title %} {{post.title}} {% endblock title %}
{% block head %}
<link href="/static/bootstrap.min.css" rel="stylesheet">
<link href="/static/custom.css" rel="stylesheet">
{% endblock head %}

{% block content %}

<article class="mb-5">
  <div class="mt-5 text-end fw-light">
    <p>Posted by {{post.author}} <br> <i class="fa-regular fa-calendar"></i> {{post.date | date(format="%d %B %Y")}}</p>
  </div>
  <content>
    <div class="mt-5">
      <h1 class="text-light">{{post.title}}</h1>
      <div class="text-end">
        <a href="/" class="text-success" style="text-decoration: none;"><i class="fa-solid fa-house"></i> Go back to main page</a>
      </div>
      <hr>
      <div id="toc-div" class="card col-md-6 offset-md-3">
        <div id="toc" class="card-body">
        </div>
      </div>
      <p class="fs-5">    
        {{post.content}}
      </p>
  </content>
</article>
<div class="fixed-bottom bg-primary">
  <p class="text-center fs-6 text text-light fst-italic">build with <a class="text-info fw-semibold" href="https://github.com/denizaytacc/inker">inker</a> & <a class="text-info fw-semibold" href="https://getbootstrap.com/">bootstrap</a></p>
</div>
{% endblock content %}

{% block custom_script %}
<script>
var headers = document.querySelectorAll("h2, h3, h4, h5, h6");
const toc = document.getElementById('toc');
if (headers.length == 0){
  const toc_div = document.getElementById('toc-div');
  toc_div.remove();
}
const fragment = document.createDocumentFragment();
last_header = "h9";
let index = 1;
headers.forEach((header) =>{
  header.id = string_to_slug(header.innerText);
  header.className = "text-warning";
  const anchor = document.createElement("a");
  anchor.innerText = index.toString() + ". " + header.innerText;
  anchor.href = "#" + header.id;
  anchor.className = "text-center text-light";
  fragment.appendChild(anchor);
  if (header.localName == last_header){
    index += 0.1;
  } 
  else{
    index += 1;
    index = Math.floor(index);
  }
  last_header = header.localName;
});
toc.appendChild(fragment);

function string_to_slug (str) {
    str = str.replace(/^\s+|\s+$/g, ''); // trim
    str = str.toLowerCase();
  
    // remove accents, swap ñ for n, etc
    var from = "àáäâèéëêìíïîòóöôùúüûñç·/_,:;";
    var to   = "aaaaeeeeiiiioooouuuunc------";
    for (var i=0, l=from.length ; i<l ; i++) {
        str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
    }

    str = str.replace(/[^a-z0-9 -]/g, '') // remove invalid chars
        .replace(/\s+/g, '-') // collapse whitespace and replace by -
        .replace(/-+/g, '-'); // collapse dashes

    return str;
}
</script>
{% endblock custom_script %}
